{%extends "index1.html"%} {% block body %}
<div id="contenido" class="form-group row justify-content-center">
    <div class="col-2">

    </div>
    <div class="col-8">
        <table class=" table table-dark">
            <thead>
                <tr>
                    <th>
                        <h3>Funciones Foro</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gestión Foro</td>
                    <td>Nuevo</td>
                    <td>Mostrar</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-2">

    </div>
</div>
{%endblock body%}