{%extends "index1.html"%} {% block body %}
<div style='text-align:center'>
    <h1 style=" color: white;">Listado de Bases</h1>
</div>
<div>
    <a href="{%url 'entrenamiento:imagen'%}" class="btn btn-primary">Subir Imagenes</a>
</div>
<div style="text-align: center;">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for d in Dato%}
            <tr>
                <td>{{d.id_Data}}</td>
                <td>{{d.nombre}}</td>
                <td>
                    <a href="{%url 'entrenamiento:m_imgs' d.id_Data%}" class="btn btn-primary">Imagenes</a>
                    <a href="{%url 'entrenamiento:editar_data' d.id_Data%}" class="btn btn-primary">Editar</a>
                    <a href="{%url 'entrenamiento:eliminar_base' d.id_Data%}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

</div>
{% endblock body %}